<ng-container *ngIf="person; else loaderTemplate">
  <ng-container *ngIf="!hasError; else errorTemplate">
    <img
      [src]="src"
      [alt]="alt"
      [width]="width"
      [height]="height"
      class="photo"
      (mouseenter)="pauseAutoReload()"
      (mouseleave)="resumeAutoReload()"
      data-cy="people-img"
    />
    <p class="text-muted">Hi, My name is</p>
    <h1
      (mouseenter)="pauseAutoReload()"
      (mouseleave)="resumeAutoReload()"
      data-cy="people-name"
    >
      {{ name }}
    </h1>
    <dx-button
      text="New"
      type="default"
      stylingMode="contained"
      (click)="getNewPerson()"
      (mouseenter)="pauseAutoReload()"
      (mouseleave)="resumeAutoReload()"
      data-cy="people-btn-getNewPerson"
    ></dx-button>
  </ng-container>
</ng-container>

<ng-template #loaderTemplate>
  <ng-container *ngIf="!hasError; else errorTemplate">
    <dx-load-indicator
      height="120"
      width="120"
      [visible]="!hasError"
      data-cy="people-spinner"
    ></dx-load-indicator>
  </ng-container>
</ng-template>

<ng-template #errorTemplate>
  <dx-button
    text="Retry"
    type="danger"
    stylingMode="contained"
    (click)="getNewPerson()"
    data-cy="people-btn-retry"
  ></dx-button>
</ng-template>
