<dx-scroll-view
  height="100%"
  direction="vertical"
  (onInitialized)="onScrollViewInit($event)"
>
  <div
    style="display: flex; flex-direction: column"
    [ngStyle]="{ 'min-height': scrollViewHeight + 'px' }"
  >
    <h1 data-cy="about-title">Coding assignment</h1>
    <div data-cy="about-description">
      <p >
        Write an application in Angular. The People and About tabs are separated
        pages (router outlets):
      </p>
      <ul>
        <li>
          The people tab should display a random user from randomuser.me API
          (photo and name). If a user clicks the “New” button the data should be
          reloaded with new data from the API. Also, every 5 seconds data should
          be reloaded, but the timer should reset every time the user clicks the
          “New” button and the timer should stop counting if the user’s cursor is
          under photo, name, or button (prevents from reloading data when for
          example user trying to copy name).
        </li>
        <li>
          About is a static page with a text description of the recruitment task
          (you're currently reading it).
        </li>
      </ul>
      <p>
        Both pages should look similar to the attached graphics. Please focus on
        code readability and application performance (imagine that these are only
        2 subpages of a huge application).
      </p>
      <p class="text-muted" style="margin-top: auto">
        The application should use the randomuser.me API.
        <br />
        See
        <a
          href="https://randomuser.me/documentation"
          target="_blank"
          rel="noopener noreferrer"
          data-cy="about-external-link"
          >https://randomuser.me/documentation</a
        >
        for more information.
      </p>
    </div>
  </div>
</dx-scroll-view>
