:host {
  @import "../themes/generated/variables.base.scss";
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  header {
    height: 60px;
  }
  main {
    flex: 1;
    max-width: 1200px;
    width: 92%;
    margin: auto;
    max-height: calc(100% - 60px);
  }
}
